In [11]:
#3 functions = apply, applyname and map
employee = {
    'id':[1, 2, 3, 4],
    'name':['Nitin', 'Gautam', 'Ramesh', 'Sapna'],
    'email':['a@x.com', 'b@x.com', 'c@x.com', 'a@x.com']   
}

In [12]:
import pandas as pd
df = pd.DataFrame(employee)

In [13]:
df

   id    name    email
0   1   Nitin  a@x.com
1   2  Gautam  b@x.com
2   3  Ramesh  c@x.com
3   4   Sapna  a@x.com

In [14]:
df.sort_values(by='email')

   id    name    email
0   1   Nitin  a@x.com
3   4   Sapna  a@x.com
1   2  Gautam  b@x.com
2   3  Ramesh  c@x.com

In [15]:
df.sort_values(by='email', ascending=False)

   id    name    email
2   3  Ramesh  c@x.com
1   2  Gautam  b@x.com
0   1   Nitin  a@x.com
3   4   Sapna  a@x.com

In [16]:
df.sort_values(by=['email', 'name'], ascending=False)

   id    name    email
2   3  Ramesh  c@x.com
1   2  Gautam  b@x.com
3   4   Sapna  a@x.com
0   1   Nitin  a@x.com

In [17]:
df.sort_values(by=['email', 'name'], ascending=[False, True])

   id    name    email
2   3  Ramesh  c@x.com
1   2  Gautam  b@x.com
0   1   Nitin  a@x.com
3   4   Sapna  a@x.com

In [18]:
df.sort_values(by=['email', 'name'], ascending=[False, True], inplace=True)

In [19]:
df

   id    name    email
2   3  Ramesh  c@x.com
1   2  Gautam  b@x.com
0   1   Nitin  a@x.com
3   4   Sapna  a@x.com

In [20]:
df.sort_index()

   id    name    email
0   1   Nitin  a@x.com
1   2  Gautam  b@x.com
2   3  Ramesh  c@x.com
3   4   Sapna  a@x.com

In [21]:
df

   id    name    email
2   3  Ramesh  c@x.com
1   2  Gautam  b@x.com
0   1   Nitin  a@x.com
3   4   Sapna  a@x.com

In [22]:
df['name'].sort_values()

1    Gautam
0     Nitin
2    Ramesh
3     Sapna
Name: name, dtype: object

In [26]:
df_sur = pd.read_csv('stack-overflow-data/survey_results_public.csv', index_col='Respondent')

In [27]:
df_sur

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,
1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,"Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88377,NaN,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Canada,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",...,NaN,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy
88601,NaN,No,Never,The quality of OSS and closed source software ...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88802,NaN,No,Never,NaN,Employed full-time,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88816,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88863,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Spain,"Yes, full-time","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy

In [24]:
#sort by country

In [28]:
df_sur.sort_values(by='Country', inplace=True)

In [31]:
df_sur[['Country', 'ConvertedComp']].head(5)

                Country  ConvertedComp
Respondent
39258       Afghanistan        19152.0
63129       Afghanistan      1000000.0
85715       Afghanistan            NaN
50767       Afghanistan            NaN
2782        Afghanistan            NaN

In [34]:
df_sur.sort_values(by=['Country','ConvertedComp'] , ascending=[True, False], inplace=True)

In [35]:
df_sur[['Country', 'ConvertedComp']].head(5)

                Country  ConvertedComp
Respondent
63129       Afghanistan      1000000.0
50499       Afghanistan       153216.0
39258       Afghanistan        19152.0
58450       Afghanistan        17556.0
7085        Afghanistan        14364.0

In [36]:
df_sur['ConvertedComp'].nlargest(10)

Respondent
25983    2000000.0
87896    2000000.0
22013    2000000.0
28243    2000000.0
72732    2000000.0
78151    2000000.0
80200    2000000.0
52132    2000000.0
75561    2000000.0
32250    2000000.0
Name: ConvertedComp, dtype: float64

In [37]:
df_sur.nlargest(10, 'ConvertedComp')

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,
25983,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Canada,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Received on-the-job training in software devel...,...,Just as welcome now as I felt last year,NaN,24.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
87896,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,Germany,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,32.0,Man,No,Gay or Lesbian,White or of European descent,No,Appropriate in length,Neither easy nor difficult
22013,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,India,No,"Professional degree (JD, MD, etc.)","A natural science (ex. biology, chemistry, phy...",Taken an online course in programming or softw...,...,A lot more welcome now than last year,Tech articles written by other developers;Indu...,NaN,Man,No,Straight / Heterosexual,NaN,Yes,Too long,Easy
28243,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",India,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,A lot less welcome now than last year,Tech meetups or events in your area,NaN,NaN,NaN,Straight / Heterosexual,NaN,Yes,Too short,Easy
72732,"I am not primarily a developer, but I write co...",No,Less than once a month but more than once per ...,"OSS is, on average, of LOWER quality than prop...",NaN,India,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Contributed to open source software,...,A lot less welcome now than last year,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,Yes,Too long,Easy
78151,I am a developer by profession,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Mexico,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,32.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina,No,Appropriate in length,Easy
80200,I am a developer by profession,Yes,Never,"OSS is, on average, of LOWER quality than prop...",Employed full-time,Netherlands,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Received on-the-job training in software devel...,...,NaN,Tech articles written by other developers,25.0,Woman,No,Bisexual,White or of European descent,No,Appropriate in length,Easy
52132,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Peru,No,Some college/university study without earning ...,I never declared a major,Completed an industry certification program (e...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,48.0,Man,NaN,NaN,Black or of African descent;East Asian;Hispani...,Yes,Appropriate in length,Easy
75561,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Singapore,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A humanities discipline (ex. literature, histo...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech meetups or events in your area,37.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
32250,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,Switzerland,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken a part-time in-person course in programm...,...,Just as welcome now as I felt last year,Industry news about technologies you're intere...,30.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy

In [38]:
df_sur.nsmallest(10, 'ConvertedComp')

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,
28638,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",Afghanistan,NaN,"Other doctoral degree (Ph.D, Ed.D., etc.)",I never declared a major,NaN,...,A lot less welcome now than last year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,NaN
722,I am a developer by profession,No,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,NaN,Afghanistan,NaN,NaN,NaN,NaN,...,Not applicable - I did not use Stack Overflow ...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,Too long,Difficult
13825,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,NaN,Algeria,NaN,NaN,NaN,NaN,...,A lot less welcome now than last year,NaN,56.0,NaN,NaN,NaN,NaN,Yes,Too short,Easy
40913,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,Armenia,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...","Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech articles written by other developers,22.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Easy
30630,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Australia,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,Taken an online course in programming or softw...,...,A lot less welcome now than last year,NaN,43.0,NaN,No,NaN,NaN,No,Appropriate in length,Easy
69049,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,"Independent contractor, freelancer, or self-em...",Australia,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Received on-the-job training in software devel...,...,Just as welcome now as I felt last year,NaN,34.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
19340,"I am not primarily a developer, but I write co...",Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",NaN,Austria,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)",Fine arts or performing arts (ex. graphic desi...,Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,NaN,32.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
16214,"I am not primarily a developer, but I write co...",Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Bangladesh,"Yes, part-time","Master’s degree (MA, MS, M.Eng., MBA, etc.)","A natural science (ex. biology, chemistry, phy...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Cour...,99.0,NaN,No,NaN,NaN,NaN,Too long,Easy
29355,I am a developer by profession,Yes,Never,"OSS is, on average, of LOWER quality than prop...","Independent contractor, freelancer, or self-em...",Bosnia and Herzegovina,"Yes, part-time",Some college/university study without earning ...,"Computer science, computer engineering, or sof...","Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,NaN,No,NaN,NaN,NaN,Too long,Easy
1685,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Independent contractor, freelancer, or self-em...",Brazil,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,29.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Neither easy nor difficult

In [39]:
df_sur['ConvertedComp'].head(15)

Respondent
63129    1000000.0
50499     153216.0
39258      19152.0
58450      17556.0
7085       14364.0
22450       7980.0
48436       4464.0
10746       3996.0
8149        1596.0
29736       1116.0
28638          0.0
722            0.0
85715          NaN
50767          NaN
2782           NaN
Name: ConvertedComp, dtype: float64

In [40]:
df_sur['ConvertedComp'].median()

57287.0

In [41]:
#median values for all columns that have numerical values

In [42]:
df_sur.median()

C:\Users\Nitin Gautam\AppData\Local\Temp\ipykernel_1276\3494330471.py:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_sur.median()

CompTotal        62000.0
ConvertedComp    57287.0
WorkWeekHrs         40.0
CodeRevHrs           4.0
Age                 29.0
dtype: float64

In [43]:
df_sur.describe()
#mean is very much affected by outlier data. median better representation

          CompTotal  ConvertedComp   WorkWeekHrs    CodeRevHrs           Age
count  5.594500e+04   5.582300e+04  64503.000000  49790.000000  79210.000000
mean   5.519014e+11   1.271107e+05     42.127197      5.084308     30.336699
std    7.331926e+13   2.841523e+05     37.287610      5.513931      9.178390
min    0.000000e+00   0.000000e+00      1.000000      0.000000      1.000000
25%    2.000000e+04   2.577750e+04     40.000000      2.000000     24.000000
50%    6.200000e+04   5.728700e+04     40.000000      4.000000     29.000000
75%    1.200000e+05   1.000000e+05     44.750000      6.000000     35.000000
max    1.000000e+16   2.000000e+06   4850.000000     99.000000     99.000000

In [45]:
df_sur['Hobbyist']

Respondent
63129    Yes
50499    Yes
39258    Yes
58450    Yes
7085     Yes
        ...
88062     No
88076     No
88601     No
88802     No
88816     No
Name: Hobbyist, Length: 88883, dtype: object

In [46]:
df_sur['Hobbyist'].value_counts()

Yes    71257
No     17626
Name: Hobbyist, dtype: int64

In [48]:
df_sur['SocialMedia']

Respondent
63129    I don't use social media
50499                    WhatsApp
39258                    Facebook
58450                    Facebook
7085                    Instagram
                   ...
88062                         NaN
88076                         NaN
88601                         NaN
88802                         NaN
88816                         NaN
Name: SocialMedia, Length: 88883, dtype: object

In [49]:
df_sur['SocialMedia'].value_counts()

Reddit                      14374
YouTube                     13830
WhatsApp                    13347
Facebook                    13178
Twitter                     11398
Instagram                    6261
I don't use social media     5554
LinkedIn                     4501
WeChat 微信                     667
Snapchat                      628
VK ВКонта́кте                 603
Weibo 新浪微博                     56
Youku Tudou 优酷                 21
Hello                          19
Name: SocialMedia, dtype: int64

In [50]:
df_sur['SocialMedia'].value_counts(normalize=True) #as perc

Reddit                      0.170233
YouTube                     0.163791
WhatsApp                    0.158071
Facebook                    0.156069
Twitter                     0.134988
Instagram                   0.074150
I don't use social media    0.065777
LinkedIn                    0.053306
WeChat 微信                   0.007899
Snapchat                    0.007437
VK ВКонта́кте               0.007141
Weibo 新浪微博                  0.000663
Youku Tudou 优酷              0.000249
Hello                       0.000225
Name: SocialMedia, dtype: float64

In [51]:
#best social media site in a country 
#group === splitting the object, applying the func, combining the result

In [54]:
df_sur['Country'].value_counts()

United States                       20949
India                                9061
Germany                              5866
United Kingdom                       5737
Canada                               3395
                                    ...
North Korea                             1
Niger                                   1
Saint Vincent and the Grenadines        1
Chad                                    1
Brunei Darussalam                       1
Name: Country, Length: 179, dtype: int64

In [55]:
df_sur.groupby(['Country']) #data frame group by object - contains bunch of groups

In [56]:
country_group=df_sur.groupby(['Country'])

In [57]:
country_group.get_group('United States')

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,
2940,I am a developer by profession,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Received on-the-job training in software devel...,...,Just as welcome now as I felt last year,NaN,28.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina,No,Appropriate in length,Easy
3133,I am a developer by profession,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,NaN,28.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
78960,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,NaN,24.0,Man,No,Straight / Heterosexual,White or of European descent,No,Too long,Neither easy nor difficult
3120,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,NaN,Man,No,Straight / Heterosexual,East Asian,No,Appropriate in length,Neither easy nor difficult
78853,I am a developer by profession,No,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers,32.0,Man,No,Straight / Heterosexual,Multiracial,No,Too long,Neither easy nor difficult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32801,I am a developer by profession,No,Never,"OSS is, on average, of LOWER quality than prop...",Employed full-time,United States,"Yes, part-time",Associate degree,"A business discipline (ex. accounting, finance...","Taught yourself a new language, framework, or ...",...,A lot less welcome now than last year,NaN,NaN,Man,No,NaN,NaN,NaN,NaN,NaN
32811,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Industry news about technologies you're intere...,NaN,Woman,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
32886,I am a developer by profession,No,Less than once per year,The quality of OSS and closed source software ...,Employed part-time,United States,No,Some college/university study without earning ...,"A natural science (ex. biology, chemistry, phy...",Taken an online course in programming or softw...,...,NaN,NaN,47.0,Woman,No,Straight / Heterosexual,White or of European descent,Yes,Too long,Easy
68604,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,NaN,36.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
33792,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed part-time,United States,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,27.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy

In [59]:
filt = df_sur['Country'] == 'United States'

In [61]:
df_sur.loc[filt]

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,
2940,I am a developer by profession,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Received on-the-job training in software devel...,...,Just as welcome now as I felt last year,NaN,28.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina,No,Appropriate in length,Easy
3133,I am a developer by profession,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,NaN,28.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
78960,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,NaN,24.0,Man,No,Straight / Heterosexual,White or of European descent,No,Too long,Neither easy nor difficult
3120,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,NaN,Man,No,Straight / Heterosexual,East Asian,No,Appropriate in length,Neither easy nor difficult
78853,I am a developer by profession,No,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers,32.0,Man,No,Straight / Heterosexual,Multiracial,No,Too long,Neither easy nor difficult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32801,I am a developer by profession,No,Never,"OSS is, on average, of LOWER quality than prop...",Employed full-time,United States,"Yes, part-time",Associate degree,"A business discipline (ex. accounting, finance...","Taught yourself a new language, framework, or ...",...,A lot less welcome now than last year,NaN,NaN,Man,No,NaN,NaN,NaN,NaN,NaN
32811,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Industry news about technologies you're intere...,NaN,Woman,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
32886,I am a developer by profession,No,Less than once per year,The quality of OSS and closed source software ...,Employed part-time,United States,No,Some college/university study without earning ...,"A natural science (ex. biology, chemistry, phy...",Taken an online course in programming or softw...,...,NaN,NaN,47.0,Woman,No,Straight / Heterosexual,White or of European descent,Yes,Too long,Easy
68604,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,NaN,36.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
33792,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed part-time,United States,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,27.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy

In [62]:
df_sur.loc[filt]['SocialMedia']

Respondent
2940                     WhatsApp
3133                       Reddit
78960                      Reddit
3120                     LinkedIn
78853                    LinkedIn
                   ...
32801    I don't use social media
32811                     Twitter
32886                     Twitter
68604    I don't use social media
33792                     Twitter
Name: SocialMedia, Length: 20949, dtype: object

In [63]:
df_sur.loc[filt]['SocialMedia'].value_counts() #data for specific filter

Reddit                      5700
Twitter                     3468
Facebook                    2844
YouTube                     2463
I don't use social media    1851
Instagram                   1652
LinkedIn                    1020
WhatsApp                     609
Snapchat                     326
WeChat 微信                     93
VK ВКонта́кте                  9
Weibo 新浪微博                     8
Hello                          2
Youku Tudou 优酷                 1
Name: SocialMedia, dtype: int64

In [64]:
country_group['SocialMedia'].value_counts() #for each country social media details

Country      SocialMedia
Afghanistan  Facebook                    15
             YouTube                      9
             I don't use social media     6
             WhatsApp                     4
             Instagram                    1
                                         ..
Zimbabwe     Facebook                     3
             YouTube                      3
             Instagram                    2
             LinkedIn                     2
             Reddit                       1
Name: SocialMedia, Length: 1220, dtype: int64

In [65]:
country_group['SocialMedia'].value_counts().head(50)

Country              SocialMedia
Afghanistan          Facebook                     15
                     YouTube                       9
                     I don't use social media      6
                     WhatsApp                      4
                     Instagram                     1
                     LinkedIn                      1
                     Twitter                       1
Albania              WhatsApp                     18
                     Facebook                     16
                     Instagram                    13
                     YouTube                      10
                     Twitter                       8
                     LinkedIn                      7
                     Reddit                        6
                     I don't use social media      4
                     Snapchat                      1
                     WeChat 微信                     1
Algeria              YouTube                      42
                     Facebook                     41
                     Twitter                      14
                     LinkedIn                      9
                     I don't use social media      7
                     Instagram                     7
                     Reddit                        2
                     WhatsApp                      2
Andorra              Facebook                      2
                     I don't use social media      2
                     Reddit                        1
                     Snapchat                      1
                     YouTube                       1
Angola               Twitter                       2
                     Facebook                      1
                     YouTube                       1
Antigua and Barbuda  YouTube                       2
                     Facebook                      1
                     Instagram                     1
                     Twitter                       1
                     VK ВКонта́кте                 1
Argentina            WhatsApp                    202
                     Twitter                      80
                     YouTube                      62
                     Instagram                    53
                     Reddit                       50
                     Facebook                     45
                     I don't use social media     22
                     LinkedIn                     16
Armenia              Facebook                     38
                     YouTube                      23
                     LinkedIn                      5
                     Instagram                     3
Name: SocialMedia, dtype: int64

In [66]:
country_group['SocialMedia'].value_counts().loc['India']

SocialMedia
WhatsApp                    2990
YouTube                     1820
LinkedIn                     955
Facebook                     841
Instagram                    822
Twitter                      542
Reddit                       473
I don't use social media     250
Snapchat                      23
Hello                          5
WeChat 微信                      5
VK ВКонта́кте                  4
Youku Tudou 优酷                 2
Weibo 新浪微博                     1
Name: SocialMedia, dtype: int64

In [67]:
country_group['ConvertedComp'].median()

Country
Afghanistan                               6222.0
Albania                                  10818.0
Algeria                                   7878.0
Andorra                                 160931.0
Angola                                    7764.0
                                          ...
Venezuela, Bolivarian Republic of...      6384.0
Viet Nam                                 11892.0
Yemen                                    11940.0
Zambia                                    5040.0
Zimbabwe                                 19200.0
Name: ConvertedComp, Length: 179, dtype: float64

In [68]:
country_group['ConvertedComp'].median().loc['Germany']

63016.0

In [69]:
country_group['ConvertedComp'].agg(['median', 'mean'])

                                        median           mean
Country
Afghanistan                             6222.0  101953.333333
Albania                                10818.0   21833.700000
Algeria                                 7878.0   34924.047619
Andorra                               160931.0  160931.000000
Angola                                  7764.0    7764.000000
...                                        ...            ...
Venezuela, Bolivarian Republic of...    6384.0   14581.627907
Viet Nam                               11892.0   17233.436782
Yemen                                  11940.0   16909.166667
Zambia                                  5040.0   10075.375000
Zimbabwe                               19200.0   34046.666667

[179 rows x 2 columns]

In [70]:
country_group['ConvertedComp'].agg(['median', 'mean']).loc['India']

median    10080.000000
mean      28057.664916
Name: India, dtype: float64

In [71]:
#How many knows python?

In [72]:
filt = df_sur['Country'] == 'India'

In [77]:
df_sur.loc[filt]['LanguageWorkedWith'].str.contains('Python')

Respondent
22013     True
28243     True
72732     True
80923    False
78265     True
         ...
79312     True
79628    False
40151    False
76400    False
30452    False
Name: LanguageWorkedWith, Length: 9061, dtype: object

In [78]:
df_sur.loc[filt]['LanguageWorkedWith'].str.contains('Python').sum() #3100 know python, sum works for boolean values

3105

In [80]:
country_group['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum()) #for every country

Country
Afghanistan                              8
Albania                                 23
Algeria                                 40
Andorra                                  0
Angola                                   2
                                        ..
Venezuela, Bolivarian Republic of...    28
Viet Nam                                78
Yemen                                    3
Zambia                                   4
Zimbabwe                                14
Name: LanguageWorkedWith, Length: 179, dtype: int64

In [81]:
df_sur['Country'].value_counts()

United States                       20949
India                                9061
Germany                              5866
United Kingdom                       5737
Canada                               3395
                                    ...
North Korea                             1
Niger                                   1
Saint Vincent and the Grenadines        1
Chad                                    1
Brunei Darussalam                       1
Name: Country, Length: 179, dtype: int64

In [83]:
country_respondents=df_sur['Country'].value_counts()
country_respondents

United States                       20949
India                                9061
Germany                              5866
United Kingdom                       5737
Canada                               3395
                                    ...
North Korea                             1
Niger                                   1
Saint Vincent and the Grenadines        1
Chad                                    1
Brunei Darussalam                       1
Name: Country, Length: 179, dtype: int64

In [85]:
country_uses_python=country_group['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum()) #for every country
country_uses_python

Country
Afghanistan                              8
Albania                                 23
Algeria                                 40
Andorra                                  0
Angola                                   2
                                        ..
Venezuela, Bolivarian Republic of...    28
Viet Nam                                78
Yemen                                    3
Zambia                                   4
Zimbabwe                                14
Name: LanguageWorkedWith, Length: 179, dtype: int64

In [91]:
python_df=pd.concat([country_respondents,country_uses_python ], axis='columns', sort=False )

In [92]:
python_df

                                  Country  LanguageWorkedWith
United States                       20949               10083
India                                9061                3105
Germany                              5866                2451
United Kingdom                       5737                2384
Canada                               3395                1558
...                                   ...                 ...
North Korea                             1                   0
Niger                                   1                   1
Saint Vincent and the Grenadines        1                   0
Chad                                    1                   0
Brunei Darussalam                       1                   0

[179 rows x 2 columns]

In [95]:
python_df.rename(columns={'Country': 'NumRespondents', 'LanguageWorkedWith': 'NumKnowsPython'}, inplace=True)

In [96]:
python_df

                                  NumRespondents  NumKnowsPython
United States                              20949           10083
India                                       9061            3105
Germany                                     5866            2451
United Kingdom                              5737            2384
Canada                                      3395            1558
...                                          ...             ...
North Korea                                    1               0
Niger                                          1               1
Saint Vincent and the Grenadines               1               0
Chad                                           1               0
Brunei Darussalam                              1               0

[179 rows x 2 columns]

In [100]:
python_df['PctPython'] = (python_df['NumKnowsPython']/python_df['NumRespondents'])*100

In [101]:
python_df

                                  NumRespondents  NumKnowsPython   PctPython
United States                              20949           10083   48.131176
India                                       9061            3105   34.267741
Germany                                     5866            2451   41.783157
United Kingdom                              5737            2384   41.554820
Canada                                      3395            1558   45.891016
...                                          ...             ...         ...
North Korea                                    1               0    0.000000
Niger                                          1               1  100.000000
Saint Vincent and the Grenadines               1               0    0.000000
Chad                                           1               0    0.000000
Brunei Darussalam                              1               0    0.000000

[179 rows x 3 columns]

In [102]:
python_df.sort_values(by='PctPython', ascending=False)

                                  NumRespondents  NumKnowsPython   PctPython
Sao Tome and Principe                          1               1  100.000000
Niger                                          1               1  100.000000
Dominica                                       1               1  100.000000
Timor-Leste                                    1               1  100.000000
Turkmenistan                                   7               6   85.714286
...                                          ...             ...         ...
Burkina Faso                                   4               0    0.000000
Lao People's Democratic Republic               3               0    0.000000
Gabon                                          2               0    0.000000
Cape Verde                                     3               0    0.000000
Brunei Darussalam                              1               0    0.000000

[179 rows x 3 columns]

In [103]:
python_df.sort_values(by='PctPython', ascending=False, inplace=True)

In [104]:
python_df

                                  NumRespondents  NumKnowsPython   PctPython
Sao Tome and Principe                          1               1  100.000000
Niger                                          1               1  100.000000
Dominica                                       1               1  100.000000
Timor-Leste                                    1               1  100.000000
Turkmenistan                                   7               6   85.714286
...                                          ...             ...         ...
Burkina Faso                                   4               0    0.000000
Lao People's Democratic Republic               3               0    0.000000
Gabon                                          2               0    0.000000
Cape Verde                                     3               0    0.000000
Brunei Darussalam                              1               0    0.000000

[179 rows x 3 columns]

In [105]:
python_df.loc['Japan']

NumRespondents    391.000000
NumKnowsPython    182.000000
PctPython          46.547315
Name: Japan, dtype: float64